<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kalvinkao.guideforvalorant"
    >

    <application
        android:allowBackup="true"
        android:icon="@drawable/valorant"
        android:label="@string/app_name"
        android:roundIcon="@drawable/circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.agents.viper.Viper"
            android:label="@string/viper"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.agents.cypher.Cypher"
            android:label="@string/cypher"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.agents.sage.Sage"
            android:label="@string/sage"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.agents.breach.Breach"
            android:label="@string/breach"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.agents.raze.Raze"
            android:label="@string/raze"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.agents.sova.Sova"
            android:label="SOVA"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.agents.brimstone.Brimstone"
            android:label="BRIMSTONE"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.agents.jett.Jett"
            android:label="JETT"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.agents.omen.Omen"
            android:label="OMEN"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.agents.phoenix.Phoenix"
            android:label="PHOENIX"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.actionbar.About"
            android:label="About"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.actionbar.Credits"
            android:label="Credits"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.actionbar.PatchNotes"
            android:label="Patch Notes"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.actionbar.Languages"
            android:label="Languages"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.sidearms.Pistol"
            android:label="Default Pistol"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.sidearms.Shorty"
            android:label="Shorty"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.sidearms.Frenzy"
            android:label="Frenzy"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.sidearms.Ghost"
            android:label="Ghost"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.sidearms.Sheriff"
            android:label="Sheriff"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.smgs.Stinger"
            android:label="Stinger"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.smgs.Spectre"
            android:label="Spectre"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.shotguns.Bucky"
            android:label="Bucky"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.shotguns.Judge"
            android:label="Judge"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.rifles.Bulldog"
            android:label="Bulldog"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.rifles.Guardian"
            android:label="Guardian"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.rifles.Phantom"
            android:label="Phantom"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.rifles.Vandal"
            android:label="Vandal"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.sniper.Marshal"
            android:label="Marshal"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.sniper.Operator"
            android:label="Operator"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.heavy.Ares"
            android:label="Ares"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.heavy.Odin"
            android:label="Odin"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.shields.LightShield"
            android:label="Light Shield"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.weapons.shields.HeavyShield"
            android:label="Heavy Shield"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.collection.sprays.Sprays"
            android:label="Sprays"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.collection.playercards.PlayerCards"
            android:label="Player Cards"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.collection.gunbuddy.Gunbuddy"
            android:label="Gunbuddy"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.collection.titles.Titles"
            android:label="Titles"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.discord.Discord"
            android:label="Discord"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <!--real: ca-app-pub-8016302998575950~1781524102 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8016302998575950~1781524102" />

    </application>



</manifest>